.Display-title{    
    padding-top: 10px;
    font-size: 25px;    
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #e5e8e8;
}

.Display-result{
    background-color: #ddd;
    border: 1px solid #bbb;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 400px;
    color: #333;
    text-align: right;    
    font-weight: bold;
    box-shadow: 0px 1px 4px #bbb;
}

@media ( max-width: 400px ){
    .Display-result{
        margin-right: 15px;
        margin-left: 15px;
    }
}